<div style="padding: 10px;
border: 1px solid darkgray;
height: 190px;
width: 360px;
background: #fff url(../../../../assets/img/login_background.png) no-repeat center;
background-size: 100%;
text-align: center;
margin-top: 190px;
margin-right: 50px;border-color: #DDDDD8 #AFAFAF #797975;">
  <div class="row title" style="display: inherit;">
    Welcome
  </div><br>
  <div class="row sub_title" style="display: inherit;">
    Login with your Connect credentials
  </div><br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmitLoginUserDetails(loginForm.value)">
    <div class="row">
      <div class="col-md-5">Username</div>
      <div class="col-md-6"><input type="text" class="inputFont" formControlName="email"></div>
    </div><br>
    <div class="row">
      <div class="col-md-5">Password</div>
      <div class="col-md-6"><input type="password" class="inputFont" formControlName="password"></div>
    </div><br>
    <div class="row" style="position:inherit;float:right;margin-right: 7px;">
      <button class="button" type="submit" [disabled]="!loginForm.valid" style="padding: 0px 4px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    background: lightgray;
    color: #000000;
    font-size: 11px;
    white-space: nowrap;
    overflow: visible;">Login</button><br>
    </div>
  </form>
</div>