<div style="    padding: 20px;
border: 1px solid darkgray;
height: 180px;
width: 450px;
background: #fff url(../../../../assets/img/login_background.png) no-repeat center;
background-size: 100%;">
  <div class="row title">
    Welcome
  </div>
  <div class="row sub_title">
    Login with your Connect credentials
  </div>
  <div class="row">
    <div class="col-md-5">Username</div>
    <div class="col-md-6"></div>
  </div>
  <div class="row">
    <div class="col-md-5">Password</div>
    <div class="col-md-6"></div>
  </div>
</div>