<div style="    padding: 20px;
border: 1px solid darkgray;
height: 215px;
width: 450px;
background: #fff url(../../../../assets/img/login_background.png) no-repeat center;
background-size: 100%;text-align: center;">
  <div class="row title" style="display: inherit;">
    Welcome
  </div><br>
  <div class="row sub_title" style="display: inherit;">
    Login with your Connect credentials
  </div><br>
  <div class="row">
    <div class="col-md-5">Username</div>
    <div class="col-md-6"><input type="text"></div>
  </div><br>
  <div class="row">
    <div class="col-md-5">Password</div>
    <div class="col-md-6"><input type="password"></div>
  </div><br>
  <div class="row" style="position:inherit;float:right">
    <button class="button">Login</button>
  </div>
</div>