br {
    display: block;
    content: "";
    margin-top: 2px;
}

input{
    height: 22px;
    background: #fff;
    margin-top:5px 
}

.submitButton{
    padding: 0px 4px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    background: lightgray;
    color: #000000;
    font-size: 11px;
    white-space: nowrap;
    overflow: visible;
}
.fbButton{
    padding: 0px 4px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    background: lightgray;
    color: #000000;
    font-size: 16px;
    white-space: nowrap;
    overflow: visible;
}
.googleButton{
    padding: 0px 4px 1px;
    border-width: 1px;
    border-style: solid;
    border-color: #DDDDD8 #AFAFAF #797975;
    background: lightgray;
    color: #000000;
    font-size: 16px;
    white-space: nowrap;
    overflow: visible;
}
.inputFont{
    font-size: 11px;
    width: 100%;
}