<div style="border: 1px solid;
padding: 40px;
width: 488px;
border-color: #DDDDD8 #AFAFAF #797975;
margin-top: 100px;
margin-left: 50px;
/* background: #fff url(../../../../assets/img/login_background.png); */
background-size: 100%;
text-align: center;">
  <div class="row">Hi User !!</div>
  <br>
  <div class="row">Register using,</div><br>
  <div class="row" style="display: inherit;"><button class="fbButton">Facebook</button></div><br>
  <div class="row" style="display: inherit;"><button class="googleButton">Google</button></div><br>
  <div class="row" style="display: inherit;">OR</div><br>
  <div class="row">
    Please fill the form to register with us...
  </div><br>
  <div class="row">
    <div class="col-md-5">First Name</div>
    <div class="col-md-6"><input type="text" class="inputFont"></div>
  </div><br>
  <div class="row">
    <div class="col-md-5">Last Name</div>
    <div class="col-md-6"><input type="text" class="inputFont"></div>
  </div><br>
  <div class="row">
    <div class="col-md-5">Email</div>
    <div class="col-md-6"><input type="text" class="inputFont"></div>
  </div><br>
  <div class="row">
    <div class="col-md-5">Password</div>
    <div class="col-md-6"><input type="password" class="inputFont"></div>
  </div><br>
  <div class="row" style="display: inherit;">
    <input type="radio" name="gender" value="male" checked> Male
    <input type="radio" name="gender" value="female" style="    margin-left: 40px;"> Female
  </div><br>
  <div class="row" style="position:inherit;float:right;margin-right: 7px;">
    <button class="submitButton">Submit</button>
  </div>
</div>