<div style="border: 1px solid;
padding: 40px;
width: 480px;"> 
  <div class="row">Login using</div>
  <div class="row">Facebook</div>
  <div class="row">Google</div>
  <div class="row">OR</div>
  <div class="row">
    Please fill the form to register with Connect
  </div>
  <div class="row">
    <div class="col-md-5">First Name</div>
    <div class="col-md-6"><input type="text"></div>
  </div>
  <div class="row">
    <div class="col-md-5">Last Name</div>
    <div class="col-md-6"><input type="text"></div>
  </div>
  <div class="row">
    <div class="col-md-5">Email</div>
    <div class="col-md-6"><input type="text"></div>
  </div>
  <div class="row">
    SEX
  </div>
  <div class="row">
    <button>Submit</button>
  </div>
</div>